@import '../../styles/vars.scss';

.Cards{
  @media only screen and (min-width: 0) {
    .Card{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
  }

  @media only screen and  (min-width: 575px){

  }

  @media only screen and (min-width: 767px) {

  }

  @media only screen and (min-width: 1200px ) {
    .Card {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      max-height: 1250px;
        .cardItem {
          background-color: $white-smoke;
          border-radius: 10px;
          padding: 45px 40px;
          height: initial;
          width: initial;
      }
      .a {
        grid-row-start: 2;
        grid-column-start: 2;

        grid-row-end: 5;
        grid-column-end: 3;
      }
      .b {
        grid-row-start: 4;
        grid-column-start: 3;

        grid-row-end: 5;
        grid-column-end: 5;

        > figure {
          > img {
            float: right;
          }
        }

      }
      .c {
        grid-row-start: 2;
        grid-column-start: 3;

        grid-row-end: 4;
        grid-column-end: 4;
      }
      .d {
        grid-row-start: 2;
        grid-column-start: 4;

        grid-row-end: 4;
        grid-column-end: 5;
      }
    }
  }
}