@import '../../styles/vars.scss';

.Card {
	@media only screen and (min-width: 0) {
		.wrapper-card {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			.cardItem {
				background-color: $white-smoke;
				border-radius: 5px;
				margin-top: 21px;
				padding-bottom: 43px;
				height: 600px;
				width: 290px;
			}
			figure {
				text-align: center;
			}
			h3 {
				padding-left: 13px;
				font-weight: 600;
				font-size: 18px;
				color: $oxford-blue;
			}
			p {
				color: $light-gray;
				padding-left: 16px;
				font-size: 13px;
				padding-bottom: 35px;
			}
			.more {
				display: flex;
				justify-content: start;
				position: absolute;
				padding: 14px 43px;
				margin-left: 16px;
				cursor: pointer;
			}
		}
	}

	@media only screen and (min-width: 575px) {
		.wrapper-card {
			.cardItem {
				margin-left: 30px;
				height: 580px;
				width: 240px;
				position: relative;
				padding-bottom: 60px;

				.more {
					position: absolute;
					bottom: 20px;
					left: 20px;
				}
			}
		}
	}

	@media only screen and (min-width: 767px) {
	}

	@media only screen and (min-width: 1200px) {
		.wrapper-card {
			.a {
				height: 894px;
				width: 435px;
			}
			.b {
				height: 531px;
				width: 434px;
			}
			.c {
				height: 531px;
				width: 434px;
			}
			.d {
				float: left;
				width: 905px;
				height: 343px;
				margin-left: 502px;
				margin-top: -343px;
				img {
					padding-top: 100px;
					float: right;
				}
			}
		}
	}
}
